body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

h4 {
  padding: 5px;
  margin: 0px;
}

.legend {
  padding: 8px 10px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  line-height: 24px;
  color: #555;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}
